/* GLOBAL RESETS */
* {
  box-sizing: border-box;
}

/* BASE TEXT COLORS */
body {
  color: rgba(34, 42, 42, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(148, 117, 114);
}

/* BASE TEXT FONTS */
body {
  font-family: "new-order", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "handsome-pro-nib", sans-serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
  font-size: 0.8em;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  color: rgb(194, 109, 129);
}

.subheadline {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.1;
  margin: 0.25em 0;
  color: rgba(0, 0, 0, 0.5);
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: rgb(111, 87, 84);
  color: rgb(209, 181, 173);
  text-decoration: none;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 25px 0;
  text-transform: uppercase;
  width: 200px;
  text-align: center;
  margin: 0.5em;
}
.button:hover {
  background-color: rgb(194, 109, 129);
  color: rgb(209, 181, 173);
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

/* MEDIA QUERIES */
/* RESPONSVIE TYPE */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.5%;
  margin-right: -2.5%;
  align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 2.5%;
  flex-grow: 1;
}
.row.centered {
  justify-content: center;
}
.row.swapped {
  flex-direction: row-reverse;
}
.row.stacked {
  flex-direction: column;
}
.row.align-top {
  align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    flex-grow: 0;
  }
  .row .one-whole {
    width: 100%;
  }
  .row .one-half {
    width: 45%;
  }
  .row .one-third {
    width: 28.333%;
  }
  .row .two-thirds {
    width: 61.666%;
  }
  .row .one-fourth {
    width: 20%;
  }
  .row .three-fourths {
    width: 70%;
  }
  .row .push-one-fourth {
    margin-left: 27.5%;
  }
  .row .push-one-third {
    margin-left: 35.833%;
  }
  .row .push-one-half {
    margin-left: 52.5%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

/* SITE STRUCTURE */
.site-header {
  background: rgb(111, 87, 84);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}

/* SITE-FOOTER */
.site-footer {
  background: rgb(111, 87, 84);
  display: flex;
  padding: 1em;
  justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

/* SITE-NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

section {
  padding: 4em 0;
}

/* HERO SECTION */
.hero {
  display: flex;
  text-align: left;
  padding: 10em 0;
  height: 75vh;
}
.hero h1 {
  margin-bottom: 0.25em;
}
.hero .project-nav {
  display: flex;
  justify-content: left;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "new-order", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-bottom: 5px solid rgb(194, 109, 129);
  display: table;
  padding: 0 0 0.5em 0;
  margin: 1em auto 3em auto;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.projects img {
  border-radius: 25px;
  height: 300px;
  object-fit: cover;
}
.projects p {
  position: absolute;
  margin: 3em;
  opacity: 0;
}
.projects:hover img {
  animation: blur 0.1s cubic-bezier(0.25, 0.25, 0.25, 0.5) both;
  opacity: 0.5;
}
.projects:hover p {
  color: rgb(111, 87, 84);
  opacity: 1;
  font-weight: bold;
  font-size: 1.1em;
}

@keyframes blur {
  0% {
    transform: translateZ(0);
    filter: blur(0.8);
  }
  100% {
    transform: translateZ(50px);
    filter: blur(3px) opacity(0.8);
  }
}
.fittree {
  background-color: #FFF5E9;
  color: #1E3F00;
}
.fittree img {
  border-radius: 75px;
}
.fittree h1 {
  font-family: "rinse", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1E3F00;
}
.fittree h3 {
  font-family: "feltro-texture-2", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.fittree .section-heading {
  border-bottom: 5px solid #1E3F00;
}
.fittree .site-header, .fittree .site-footer {
  background-color: #465705;
}
.fittree .hero {
  background-color: #D0D5A8;
}
.fittree .hero .one-fourth {
  text-align: left;
}
.fittree .button {
  background-color: #75982C;
  color: #E8D3BC;
}
.fittree .button:hover {
  background-color: #1E3F00;
}
.fittree ul {
  list-style: none;
  font-size: 0.8em;
}
.fittree ul span {
  text-transform: uppercase;
  font-weight: bold;
}
.fittree .process img {
  margin-bottom: 3em;
}
.fittree .process .squares {
  display: flex;
}
.fittree .process .square {
  margin: 0.5em 0.1em 0 0.1em;
  height: 50px;
  width: 50px;
}
.fittree .process .square:nth-child(1) {
  background-color: #1A2207;
}
.fittree .process .square:nth-child(2) {
  background-color: #1E3F00;
}
.fittree .process .square:nth-child(3) {
  background-color: #465705;
}
.fittree .process .square:nth-child(4) {
  background-color: #75982C;
}
.fittree .process .square:nth-child(5) {
  background-color: #E8D3BC;
}

.booktrilogy {
  background-color: #505050;
  color: #ffffff;
}
.booktrilogy img {
  border-radius: 75px;
}
.booktrilogy h1 {
  font-family: "shrunken-head-bb", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
.booktrilogy h2 {
  color: #ffffff;
}
.booktrilogy h3 {
  font-family: "shrunken-head-bb", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #360000;
}
.booktrilogy .section-heading {
  border-bottom: 5px solid #360000;
}
.booktrilogy .site-header, .booktrilogy .site-footer {
  background-color: #360000;
}
.booktrilogy .hero {
  background-color: #000000;
}
.booktrilogy .button {
  padding: 1em;
  width: 200px;
  text-align: center;
  background-color: #360000;
  color: #b4b4b4;
  text-transform: none;
  margin: 1em;
  border-radius: 25px 0;
}
.booktrilogy .button:hover {
  background-color: #260008;
}
.booktrilogy ul {
  list-style: none;
}
.booktrilogy ul span {
  text-transform: uppercase;
  font-weight: bold;
}
.booktrilogy .book-covers {
  display: flex;
}
.booktrilogy .book-covers img {
  margin: 0.5em;
  width: 25%;
}

.the-moon {
  background-color: #130025;
  color: rgb(226, 226, 226);
}
.the-moon img {
  border-radius: 75px;
}
.the-moon h1 {
  font-family: "tachyon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 234, 194, 0.8);
}
.the-moon h2 {
  color: rgb(179, 179, 179);
}
.the-moon h3 {
  font-family: "tachyon", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: rgba(255, 234, 194, 0.8);
}
.the-moon .section-heading {
  border-bottom: 5px solid rgba(255, 234, 194, 0.8);
}
.the-moon .site-header, .the-moon .site-footer {
  background-color: #2f0064;
}
.the-moon .hero {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.the-moon video {
  object-fit: cover;
  max-width: 50vw;
}
.the-moon .button {
  padding: 1em;
  width: 200px;
  text-align: center;
  background-color: #380079;
  color: #b4b4b4;
  text-transform: uppercase;
  margin: 1em;
  border-radius: 25px 0;
}
.the-moon .button:hover {
  background-color: #2f0064;
}
.the-moon ul {
  list-style: none;
}
.the-moon ul span {
  text-transform: uppercase;
  font-weight: bold;
}
.the-moon .one-whole {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.the-moon .solution {
  display: flex;
  flex-direction: column;
}
.the-moon hr {
  background-color: white;
}