/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES

$color-text-body: rgba(34, 42, 42, 0.8);
$color-text-headings: rgb(148, 117, 114);
$color-accent: rgb(194, 109, 129);
$color-accent-dark: rgb(111, 87, 84);
$color-accent-light: rgb(209, 181, 173);

$color-lightgrey: rgba(0, 0 ,0, .5);

$font-family-sans: "new-order", sans-serif;
$font-family-serif: "handsome-pro-nib", sans-serif;

// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS

@import "partials/typography";
@import "partials/button";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/animation";
@import "partials/fittree";
@import "partials/booktrilogy";
@import "partials/themoon";
