@import "partials/toc";


/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES

$color-text-body: rgb(34, 42, 42);
$color-text-headings: rgb(148, 117, 114);
$color-accent: rgb(194, 109, 129);
$color-accent-dark: rgb(64, 27, 36);
$color-accent-light: rgb(223, 205, 197);

$color-lightgrey: rgba(0, 0 ,0, .5);

$font-family-sans: "new-order", sans-serif;
$font-family-serif: "beloved-script", sans-serif;

// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS

@import "partials/typography";
@import "partials/button";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/animation";
