/* BUTTONS */

.button {
    display: inline-block;
    background-color: $color-accent;
    color: $color-accent-dark;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
    text-transform: uppercase;

    &:hover {
        background-color: $color-accent-dark;
        color: $color-accent-light;
    }

}

