.fittree {

    background-color: #FFF5E9;
    color: #1E3F00;

    img {
        border-radius: 75px;
    }
    
    h1 {
    font-family: "rinse", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1E3F00;
    }

    h3 {
        font-family: "feltro-texture-2", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: none;
    }

    .section-heading {
        border-bottom: 5px solid #1E3F00;
    }

    .site-header, .site-footer {
        background-color: #465705;
    }

    .hero {
        background-color: #D0D5A8;

        .one-fourth {
            text-align: left;
        }

    }
    .button {
        padding: .5em;
        max-width: 200px;
        text-align: center;
        background-color: #75982C;
        color: #E8D3BC;
        text-transform: none;
        margin: .5em;
        border-radius: 25px 0;

        &:hover {
            background-color: #1E3F00;
        }
    }

    ul {
        list-style: none;
        font-size: .8em;
        span {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .process {

        img {
            margin-bottom: 3em;
        }

        .squares {
            display: flex;
        }

        .square {
            margin: .5em .1em 0 .1em;
            height: 50px;
            width: 50px;
    
            &:nth-child(1) {
                background-color: #1A2207;
            }
    
            &:nth-child(2) {
                background-color: #1E3F00;
            }
    
            &:nth-child(3) {
                background-color: #465705;
            }
    
            &:nth-child(4) {
                background-color: #75982C;
            }
    
            &:nth-child(5) {
                background-color: #E8D3BC;
            }
        }
    }   
}