.the-moon {

    background-color: #130025;
    color: rgb(226, 226, 226);

    img {
        border-radius: 75px;
    }
    
    h1 {
    font-family: "tachyon", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 234, 194, 0.8);
    }

    h2 {
        color: rgba(179, 179, 179, 1);
    }

    h3 {
        font-family: "tachyon", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        color: rgba(255, 234, 194, 0.8);
    }

    .section-heading {
        border-bottom: 5px solid rgba(255, 234, 194, 0.8);
    }

    .site-header, .site-footer {
        background-color: #2f0064;
    }

    .hero {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    video {
        object-fit: cover;
        max-width: 50vw;
    }

    .button {
        padding: 1em;
        width: 200px;
        text-align: center;
        background-color: #380079;
        color: #b4b4b4;
        text-transform: uppercase;
        margin: 1em;
        border-radius: 25px 0;
        &:hover {
            background-color: #2f0064;
        }
    }

    ul {
        list-style: none;
        span {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .one-whole {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .solution {
        display: flex;
        flex-direction: column;
    }

    hr {
        background-color: white;
    }
}